<div classs="splashScreen bg-primary.bg-gradient">
<h1 class="splash">Money Minder</h1>
<div class="text-center d-grid gap-2 col-6 mx-auto splashbutton">
    <%= link_to "LOG IN", new_user_session_path, class: "btn text-dark login_button" %>
    <%= link_to "SIGN UP", new_user_registration_path, class: "btn text-dark login_button" %>
</div>
</div>