<div id="<%= dom_id expense %>" class="bg-white p-2 m-2">
  <div class="d-flex flex-row justify-content-between  align-items-center ">
  <div>
    <i class="bi bi-cart4 me-3" style="font-size: 30px;"></i>
    <%= expense.name %>
  </div> 

  <strong><p class="text-secondary">$
    <%= expense.amount %>
  </p></strong>
  </div>
  <p class="ms-4 ps-4 text-muted" style="font-size: 10px;">
    <%= expense.created_at.to_date.strftime("%d %b %Y")  %>
  </p>
</div>

