<h1>Expenses</h1>

<div id="expenses">
  <% if @expenses.empty? %>
    <p>No expenses yet</p>
  <% end%>
    <% @expenses.each do |expense| %>
      <%= render expense %>      
     
  <% end  %>
</div>

<%= link_to "New expense", new_group_expense_path %>
